<div class="flex flex-col bg-white p-4 md:p-6 rounded-lg w-full md:max-w-2xl md:h-[100%]">
  <h1 class="text-xl md:text-2xl font-bold text-marine-blue mb-1 md:mb-2">Finishing up</h1>
  <p class="text-sm md:text-base text-cool-gray mb-6 md:mb-8">Double-check everything looks OK before confirming.</p>
  <div class="flex flex-col gap-1 md:gap-2 bg-light-blue">
    <div class="flex justify-between items-center border-b py-2 md:py-4">
      <div>
        <p class="font-bold text-marine-blue text-sm md:text-base">{{ plan | titlecase }} ({{ period ? 'Yearly' : 'Monthly' }})</p>
        <a class="text-xs md:text-sm text-cool-gray underline hover:text-purplish-blue cursor-pointer" (click)="goBack()">Change</a>
      </div>
      <p class="font-bold text-marine-blue text-xs md:text-sm">{{ getPlanPrice() }}</p>
    </div>
    <div *ngFor="let addOn of getSelectedAddOns()" class="flex justify-between items-center py-2 md:py-4">
      <p class="text-xs md:text-sm text-cool-gray">{{ addOn.name }}</p>
      <p class="font-bold text-marine-blue text-xs md:text-sm">{{ period ? addOn.yearlyPrice : addOn.monthlyPrice }}</p>
    </div>
  </div>
  <div class="flex justify-between items-center mt-4 md:mt-8 border-t py-2 md:py-4">
    <p class="text-xs md:text-sm text-cool-gray">Total (per {{ period ? 'year' : 'month' }})</p>
    <p class="font-bold text-purplish-blue text-sm md:text-lg">{{ totalPrice }}</p>
  </div>
  <div class="flex md:hidden justify-between items-center absolute left-0 py-2 px-4 md:px-6 bottom-0 bg-white w-full">
    <button class="text-xs md:text-sm text-cool-gray font-medium" (click)="previousStep.emit()">Go Back</button>
    <button class="bg-purplish-blue text-white text-xs md:text-sm px-4 md:px-6 py-1 md:py-2 rounded-lg font-medium" (click)="confirmOrder()">Confirm</button>
  </div>
  <div class="hidden md:flex justify-between items-center bg-white md:mt-8 w-full">
    <button class="text-sm md:text-base text-cool-gray font-medium" (click)="previousStep.emit()">Go Back</button>
    <button class="bg-purplish-blue text-white px-6 py-2 rounded-lg font-medium" (click)="confirmOrder()">Confirm</button>
  </div>
</div>
