<div class="flex flex-col bg-white p-6 rounded-lg w-full md:max-w-2xl md:h-[100%]">
  <h1 class="text-2xl font-bold text-marine-blue mb-2">Finishing up</h1>
  <p class="text-cool-gray mb-8">Double-check everything looks OK before confirming.</p>
  <div class="flex flex-col gap-2 bg-light-blue">
    <div class="flex justify-between items-center border-b py-4">
      <div>
        <p class="font-bold text-marine-blue">{{ plan | titlecase }} ({{ period ? 'Yearly' : 'Monthly' }})</p>
        <a class="text-cool-gray underline cursor-pointer" (click)="goBack()">Change</a>
      </div>
      <p class="font-bold text-marine-blue">{{ getPlanPrice() }}</p>
    </div>
    <div *ngFor="let addOn of getSelectedAddOns()" class="flex justify-between items-center py-4">
      <p class="text-cool-gray">{{ addOn.name }}</p>
      <p class="font-bold text-marine-blue">{{ period ? addOn.yearlyPrice : addOn.monthlyPrice }}</p>
    </div>
  </div>
  <div class="flex justify-between items-center mt-8 border-t py-4">
    <p class="text-cool-gray">Total (per {{ period ? 'year' : 'month' }})</p>
    <p class="font-bold text-purplish-blue">{{ totalPrice }}</p>
  </div>
    <div class="flex justify-between">
    <button class="text-cool-gray font-medium" (click)="previousStep.emit()">Go Back</button>
    <button class="bg-purplish-blue text-white px-6 py-2 rounded-lg font-medium" (click)="confirmOrder()">Confirm</button>
  </div>
</div>
