<section class="bg-cover bg-no-repeat h-[10rem] w-[40rem] bg-[url('/assets/images/bg-sidebar-mobile.svg')] md:h-full md:w-[17rem] md:bg-[url('/assets/images/bg-sidebar-desktop.svg')]">
  <div class="flex justify-center gap-x-10 pt-20 items-center md:flex-col md:ml-8">
    <div class="flex flex-col gap-4 items-center md:gap-6">
      <div class="flex items-center justify-center w-8 h-8 rounded-full border border-white text-white font-medium md:mr-4">1</div>
      <div class="hidden md:block">
        <p class="uppercase text-sm">Step 1</p>
        <p class="uppercase text-white text-sm font-bold tracking-wide">Your info</p>
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center md:gap-6">
      <div class="flex items-center justify-center w-8 h-8 rounded-full border border-white text-white font-medium md:mr-4">2</div>
      <div class="hidden md:block">
        <p class="uppercase text-sm">Step 2</p>
        <p class="uppercase text-white text-sm font-bold tracking-wide">Select plan</p>
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center md:gap-6">
      <div class="flex items-center justify-center w-8 h-8 rounded-full border border-white text-white font-medium md:mr-4">3</div>
      <div class="hidden md:block">
        <p class="uppercase text-sm">Step 3</p>
        <p class="uppercase text-white text-sm font-bold tracking-wide">Add-ons</p>
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center md:gap-6">
      <div class="flex items-center justify-center w-8 h-8 rounded-full border border-white text-white font-medium md:mr-4">4</div>
      <div class="hidden md:block">
        <p class="uppercase text-sm">Step 4</p>
        <p class="uppercase text-white text-sm font-bold tracking-wide">Summary</p>
      </div>
    </div>
  </div>
</section>
