<div class="flex flex-col bg-white p-6 rounded-lg w-full md:max-w-2xl md:h-[100%]">
  <h1 class="text-2xl font-bold text-marine-blue mb-2">Select your plan</h1>
  <p class="text-cool-gray mb-8">Choose a plan that suits your needs.</p>
  <div class="flex flex-col gap-4">
    <div *ngFor="let planOption of ['arcade', 'advanced', 'pro']" (click)="selectPlan(planOption)" 
      [class.bg-light-blue]="planOption === plan" 
      class="flex items-center border rounded-lg p-4 cursor-pointer transition-all duration-200 ease-in-out hover:border-purplish-blue">
      <p class="flex-grow font-bold text-marine-blue">{{ planOption | titlecase }}</p>
      <p class="text-cool-gray">{{ getPlanPrice(planOption) }}</p>
    </div>
  </div>
  <div class="flex items-center mt-8">
    <button class="text-cool-gray font-medium" (click)="togglePeriod()">{{ period ? 'Switch to Monthly' : 'Switch to Yearly' }}</button>
  </div>
  <div class="flex justify-between items-center mt-8 w-full">
    <button class="text-cool-gray font-medium" (click)="goBack()">Go Back</button>
    <button class="bg-marine-blue text-white py-2 px-6 rounded-lg font-medium" (click)="goToNextStep()">Next Step</button>
  </div>
</div>
